@use "sass:map";
//Neutral Colors
$charcoal: #333333;
$light-gray: #d3d3d3;
$medium-gray: #777777;
$warm-white: #f7f5f2;

//Accent Colors
$hunter-green: #355e3b;
$crimson: #8b0000;

//Other Colors
$background: #1e1e1e;
$text-light: #f0f0f0;
$shadow: rgba(0,0,0,0.4);

//Layout
$pad: max(20px, 4vmin);

$themes: (
    light: (
        background: #f7f5f2,
        text: #333333,
        border: #333333
    ),
    dark: (
        background: #333333,
        text: #f7f5f2,
        border: #f7f5f2
    )
);

@mixin theme($theme-name) {
    $theme: map.get($themes, $theme-name);

    body {
        background-color: map.get($theme, background);
        color: map.get($theme, text);
        transition: background-color 1s ease, color 1s ease;
    }
    
    .box {
        border: 1px solid map-get($theme, border);
        color: map.get($theme, text);
        transition: border-color 1s ease, color 1s ease
    }
}

[data-theme="light"] {
    @include theme(light);

    .theme-toggle {
        &[data-theme="light"] {
            background-color: $charcoal;
            color: $warm-white;
            transition: background-color 1s ease, color 1s ease;
        }
        &[data-theme="dark"] {
            background-color: $warm-white;
            color: $charcoal;
            border-color: $charcoal;
            transition: background-color 1s ease, color 1s ease, border-color 1s ease;
        }
    }
}

[data-theme="dark"] {
    @include theme(dark);

    .theme-toggle {
        &[data-theme="light"] {
            background-color: $warm-white;
            color: $charcoal;
            transition: background-color 1s ease, color 1s ease;
        }
        &[data-theme="dark"] {
            background-color: $charcoal;
            color: $warm-white;
            border-color: $warm-white;
            transition: background-color 1s ease, color 1s ease, border-color 1s ease;
        }
    }
}


* {
    margin: 0;
    box-sizing: border-box;
}

.container {

    img {
        width: 95%;
        height: 95%;
        border-radius: 50%;
        margin-left: 10px;
        margin-top: 5px;
    }

    h2 {text-align: center;}

    button {
        background-color: $charcoal;
        color: $text-light;
    }

    button:hover {
        background-color: $crimson;
        color: $light-gray;
    }

    .hiddenText {
        display: none;
    }
}

.box {
    margin: 0 auto;
    top: $pad;
    bottom: $pad;
    left: $pad;
    right: $pad;
    position: fixed;
    

    header {
        margin: max(5px, 2vmin);
        padding: 20px;
    }
}