//Neutral Colors
$charcoal: #333333;
$light-gray: #d3d3d3;
$medium-gray: #777777;

//Accent Colors
$hunter-green: #355e3b;
$crimson: #8b0000;

//Other Colors
$background: #1e1e1e;
$text-light: #f0f0f0;

body {
  background: $background;
  color: $text-light;
}

.container {
    height: 50vh;
    width: 500px;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: 10px;
        margin-top: 5px;
    }

    button {
        background-color: $charcoal;
        color: $text-light;
    }

    button:hover {
        background-color: $crimson;
        color: $light-gray;
    }
}